
/* style the button for contact me button */
main > a{
    text-decoration: none;
}
/* relocate the header1 */
h1{
    margin: 1em;
}
/* make the text content with large text */
p{
    margin: 1dvh;
    font-size: large;
}
h4{
    margin: 1em;
}
/* resizing the img */
.photo{
    height: 50dvh;
    width: auto;
    border-radius: 2em;
}