/* flexbox the whole page */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* size and locate each section */
main > section {
    margin: 2em;
    padding: 0.3em;
    background-color:  rgb(74, 75, 77);
    border-radius: 3em;
    filter: drop-shadow(1em 1em 8px black);
    width: auto;
    transition: 1s;
}
/* relocate the main header of this page */
h3{
    margin-top: 1em;
}
/* relocate the blog name and colour the name text */
main > section > h4 {
    margin: 2em;
    color: #f8f9faff;
}
/* relocate the blog content and colour the  text */
p{
    color: #f8f9faff;
    padding: 1em;
}
/* resizing and relocate the image for each section */
img{
    height: 20dvh;
    width: auto;
    border-radius: 3em;
    margin: 1em;
    transition: 1s;
}
/* style the read more button for each section */
.read{
    text-decoration: none;
    color: white;
    margin: 0.5em;
    transition: 1s;
}
/* add hover for each read more button */
.read:hover{
    color: blue;
    font-size: large;
    background-color: var(--antiflash-white);
    border-radius: 2em;
    padding: 1em;
}
/* add hover for each image in each section */
 img:hover{
    height: 50dvh;
    filter: drop-shadow(1em 1.5em 6px rgb(43, 43, 43));
}
/* add hover for each  section */
section:hover{
    margin: 1em;
    padding: 1em;
    background-color:  rgb(74, 75, 77);
    border-radius: 3em;
    filter: drop-shadow(1em 1em 8px rgb(105, 5, 5) );
    width: auto;
    font-size: 1.5em;
} 