
/* relocate and resizing the img */
.myimg > img {
    height: 40dvh;
    width: auto;
    border-radius: 50%;
    margin-bottom: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

/* add boder to the header 3 */
.section1 > h3 {
    background-color: var(--french-gray-2);
    padding: 1em;
    border-radius: 2em;
}
/* resize the section 3 */
.section2 > ul{
    height: 40dvh;
    margin-top: 4em;
}
/* resize the contact info button */
.l1{
    padding: 0.5em;
}
/* resize the contact info button */
.l2{
    padding: 0.5em;
}
/* resize the contact info button */
.l3{
    padding: 0.5em;
}
/* resize the contact info button */
.l4{
    padding: 0.5em;
}
/* resize the contact info button */
.l5{
    padding: 0.5em;
}
/* style the button of email add and add transition time 1s for hover */
.email {
    transition: 1s;
    text-decoration: none;
    color: black;
}
/* style the button add and add transition time 1s for hover */
 .button1 {
    transition: 1s;
    text-decoration: none;
    color: black;
}
/* style the button  add and add transition time 1s for hover */
.button2{
    transition: 1s;
    text-decoration: none;
    color: black;
}
/* style the button  add and add transition time 1s for hover */
.button3{
    transition: 1s;
    text-decoration: none;
    color: black;
}
/* style the button  add and add transition time 1s for hover */
.button4{
    transition: 1s;
    text-decoration: none;
    color: black;
}
/* add hover to button 1  */
.button1:hover{
    background-color: slategray;
    font-size: large;
    border-radius: 1.5em;
    padding: 1em;
    font-style: italic;
    font-weight: bolder;
    color: rgb(111, 111, 116);
}
/* add hover to button 2  */
.button2:hover{
    background-color: slategray;
    font-size: large;
    border-radius: 1.5em;
    padding: 1em;
    font-style: italic;
    font-weight: bolder;
    color: rgb(33, 33, 34);
}
/* add hover to button 3  */
.button3:hover{
    background-color: slategray;
    font-size: large;
    border-radius: 1.5em;
    padding: 1em;
    font-style: italic;
    font-weight: bolder;
    color: rgb(32, 32, 36);
}
/* add hover to button 4  */
.button4:hover{
    background-color: slategray;
    font-size: large;
    border-radius: 1.5em;
    padding: 1em;
    font-style: italic;
    font-weight: bolder;
    color: rgb(120, 120, 136);
}
/* add hover to button emal  */
.email:hover{
    background-color: slategray;
    font-size: large;
    border-radius: 1.5em;
    padding: 1em;
    font-style: italic;
    font-weight: bolder;
    color: blue;
}