
.life > img{
    height: 20dvh;
    border-radius: 2em;
    filter: drop-shadow(0.2em 0.2em 2px #dee2e6ff);
    transition: 1.5s;
    border: 1px black;
}
main>h1{
    padding: 1em ;
    color: #343536;
    font-size: 2.5rem;
    -webkit-animation: shining 1s alternate infinite;
    animation: shining 1s alternate infinite;
    }
    @-webkit-keyframes shining {
        from {
            text-shadow: 0 0 10px rgb(7, 7, 7), 0 0 20px rgb(52, 53, 54), 0 0 30px rgb(56, 57, 58), 0 0 40px rgb(98, 100, 100);
        }
    ​
        to {
            text-shadow: 0 0 5px --antiflash-white, 0 0 10px --antiflash-white;
        }
    }
    
h4{
    margin-top: 1.5em;
}

.life>p{
    text-align: left;
}
    

.life{
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5em;
    margin: 2em;
    padding: 1em;
    background-color: var(--outer-space);
    border-radius: 2em;
    filter: drop-shadow(1em 1em 8px black);
}

.life:hover{
    border-radius: 0%;
    filter: drop-shadow(2em 2em 10px black);
}

.life>img:hover{
    height: 50dvh;
    width: auto;
    border-radius: 0%;
}