:root{
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: var(--slate-gray);
}

Header{
    background-color: var(--eerie-black);
    height: 10dvh;
    width: 100dvw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0%;
    padding-bottom: 1dvh;
    
    
}
Header > h2{
    color: antiquewhite;
}
nav > a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    background-color: var(--seasalt);
    padding: 0.1em;
    border-radius: 1.5em;
    font-size: medium;
    text-align: center;
    font-weight: bolder;
    color: sienna;
    

}
nav > a:hover{
    background-color: gray;
    font-size: large;
}
*{
    margin: 0%;
}
main{
    background-color: var(--french-gray);
    min-height: 85dvh;
    width: 100dvw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: larger;
    text-align: center;  
    text-shadow: 0px 0px 5px #403f41, 
    0px 0px 10px #2a2a2b, 
    0px 0px 10px #7b7a7c,
    0px 0px 20px #89888a,
    0px 0px 25px #cecdcf;
    margin: 1em;
}

p{
    text-align: center; 
}
.p1{
    margin-top: 1em;
    font-size: 2em;
}
main > img{
    background-color:var(--eerie-black);
    height: 50dvh;
    width: auto;
    margin: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    object-fit: cover;
    border-radius: 2em;
    box-shadow: 5px 5px 5px 5px rgb(0,0,0);
}
main > a{
    text-decoration: none;
    padding:1em;
    color: var(--eerie-black);
    background-color: #cecdcf;
    border-radius: 3em;
    margin: 0.5em;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

footer{
    background-color: var(--french-gray-2);
    height: 5dvh;
    width: 100dvw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}